#middle
{
 display:flex;
 flex-direction: column;
}
header
{
    flex-direction: column; 
}
#foteczka
{
    align-items: center;
    justify-content: center; 
    margin:3% 0;
}
#zegar
{
    align-items: center;
    justify-content: center;
    margin:auto;
    
/*    flex-wrap: nowrap;*/
}
.line1
{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height:50%;
}
.line2
{
    display:flex;   
    justify-content:space-evenly;
    align-items: center;
    height:50%;
     flex-direction: column;
}
.opcja
{
    margin:5%;
}
.opcja1 
{
    margin:5%;
}
.opcja2
{
    margin:5%;
}
.opcja3
{
    margin:5%;
}
#lewo
{
    height: 80%;
}
header
{
    margin-bottom:2%;
}
.text0
{
    padding:10px;
}
.text3 
{
	 padding:10px;
}
.umiejetnosci
{
  
    padding:10px;
}
.zainteresowania
{
  padding:10px;
}
.kontakt
{
    padding:20px;
}
#zegar
{
    font-size:30px;
}
.info 
{
    opacity: 0.7;
}
.box 
{
    opacity: 0;
}
.foto
{
    width:320px;
    height:190px;
}

