#middle
{
 display:flex;
 flex-direction: column;
}
header
{
    flex-direction: column; 
}
#foteczka
{
    align-items: center;
    justify-content: center; 
    margin:3% 0;
}
#zegar
{
    align-items: center;
    justify-content: center;
    margin:auto;
    
/*    flex-wrap: nowrap;*/
}
.info 
{
    opacity: 0.7;
}