
.icon-params:before { content: '\e800'; } /* '' */
.icon-note:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-phone-1:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */